<?xml version="1.0"?>
<config>
    <modules>
        <Ambimax_GoogleTagManager>
            <version>2.1.1</version>
        </Ambimax_GoogleTagManager>
    </modules>
    <global>
        <blocks>
            <ambimax_googletagmanager>
                <class>Ambimax_GoogleTagManager_Block</class>
            </ambimax_googletagmanager>
        </blocks>
        <helpers>
            <ambimax_googletagmanager>
                <class>Ambimax_GoogleTagManager_Helper</class>
            </ambimax_googletagmanager>
        </helpers>
        <models>
            <ambimax_googletagmanager>
                <class>Ambimax_GoogleTagManager_Model</class>
            </ambimax_googletagmanager>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <ambimax_googletagmanager>
                    <file>ambimax/googletagmanager.xml</file>
                </ambimax_googletagmanager>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <add_googletagmanager_script>
                        <class>ambimax_googletagmanager/observer</class>
                        <type>singleton</type>
                        <method>addGoogleTagManagerAfterHeadOpeningTag</method>
                    </add_googletagmanager_script>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <default>
        <google>
            <ambimax_gtm>
                <enabled>0</enabled>
            </ambimax_gtm>
            <ambimax_gtm_datalayer>
                <add_datalayer_category_page>1</add_datalayer_category_page>
                <add_datalayer_product_page>1</add_datalayer_product_page>
                <add_datalayer_success_page>1</add_datalayer_success_page>
            </ambimax_gtm_datalayer>
        </google>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Ambimax_GoogleTagManager/>
            </modules>
        </suite>
    </phpunit>
</config>