<?xml version="1.0"?>
<config>
    <sections>
        <google>
            <groups>
                <ambimax_googletagmanager translate="label" module="ambimax_googletagmanager">
                    <label>Google Tag Manager Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Google Tag Manager Activation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <gtm_code translate="label comment">
                            <label>Google Tag Manager Code</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </gtm_code>
                    </fields>
                </ambimax_googletagmanager>
            </groups>
        </google>
    </sections>
</config>
