<?xml version="1.0"?>
<config>
    <sections>
        <google>
            <groups>
                <ambimax_gtm translate="label" module="ambimax_googletagmanager">
                    <label>Google Tag Manager Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enable Google Tag Manager</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <container_id translate="label comment">
                            <label>Container ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </container_id>
                    </fields>
                </ambimax_gtm>
                <ambimax_gtm_datalayer translate="label" module="ambimax_googletagmanager">
                    <label>Google Tag Manager DataLayer</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>110</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <add_datalayer_category_page>
                            <label>Add On Category Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[Send transaction data on category page.]]>
                            </comment>
                        </add_datalayer_category_page>
                        <add_datalayer_product_page>
                            <label>Add On Product Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[Send transaction data on product page.]]>
                            </comment>
                        </add_datalayer_product_page>
                        <add_datalayer_success_page>
                            <label>Add On Success Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[Send transaction data on order success page. Required for Google Analytics eCommerce Tracking]]>
                            </comment>
                        </add_datalayer_success_page>
                    </fields>
                </ambimax_gtm_datalayer>
            </groups>
        </google>
    </sections>
</config>
